src/net/azib/java/students/t050720/homework/decathlon.dtd

<!ELEMENT competition (result+)>
<!ELEMENT result (pos,score,athlete,dob,country,event+)>
<!ELEMENT event (name,performance)>
<!ELEMENT pos (#PCDATA)>
<!ELEMENT score (#PCDATA)>
<!ELEMENT athlete (#PCDATA)>
<!ELEMENT dob (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT performance (#PCDATA)>