src/net/azib/java/students/t050545/homework/writer/competition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by Veiko Meos (Krediidiinfo AS) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="competition">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="place" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="sportman" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string"/>
										<xs:element name="birthday" type="xs:string"/>
										<xs:element name="country" type="xs:string"/>
										<xs:element name="resulttable">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Race_100m">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="result" type="xs:float"/>
																<xs:element name="score" type="xs:integer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Long_jump">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="result" type="xs:float"/>
																<xs:element name="score" type="xs:integer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Shot_put">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="result" type="xs:float"/>
																<xs:element name="score" type="xs:integer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="High_jump">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="result" type="xs:float"/>
																<xs:element name="score" type="xs:integer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Race_400m">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="result" type="xs:float"/>
																<xs:element name="score" type="xs:integer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Hurdles_110m">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="result" type="xs:float"/>
																<xs:element name="score" type="xs:integer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Discus_throw">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="result" type="xs:float"/>
																<xs:element name="score" type="xs:integer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Pole_vault">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="result" type="xs:float"/>
																<xs:element name="score" type="xs:integer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Javelin_throw">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="result" type="xs:float"/>
																<xs:element name="score" type="xs:integer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Race_1500m">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="result" type="xs:float"/>
																<xs:element name="score" type="xs:integer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="total" type="xs:integer"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="num" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
