src/net/azib/java/students/t092855/homework/decathlon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="decathlonCompetition" type="decathlonCompetitionType"/>
  <xs:complexType name="decathlonCompetitionType">
    <xs:sequence>
      <xs:element type="athleteType" name="athlete" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="athleteType">
    <xs:sequence>
	  <xs:element type="xs:string"              name="rank"/>
      <xs:element type="xs:nonNegativeInteger"  name="totalPoints"/>
      <xs:element type="xs:string"              name="name"/>
      <xs:element type="xs:date"                name="birthday"/>
      <xs:element type="xs:string"              name="country"/>
      <xs:element type="resultsType"            name="results"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultsType">
    <xs:sequence>
      <xs:element type="xs:decimal"             name="race100m"/>
      <xs:element type="xs:decimal"             name="longJump"/>
      <xs:element type="xs:decimal"             name="shotPut"/>
      <xs:element type="xs:decimal"             name="highJump"/>
      <xs:element type="xs:decimal"             name="race400m"/>
      <xs:element type="xs:decimal"             name="hurdles110m"/>
      <xs:element type="xs:decimal"             name="discusThrow"/>
      <xs:element type="xs:decimal"             name="poleVault"/>
      <xs:element type="xs:decimal"             name="javelinThrow"/>
      <xs:element type="xs:decimal"             name="race1500m"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>