src/net/azib/java/students/t030675/country.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="country" type="countryType"/>
	<xs:complexType name="countryType">
		<xs:all>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="population" type="xs:decimal"/>
        </xs:all>
	</xs:complexType>
</xs:schema>
